nextflow.enable.dsl=2

params {
    binSize = 50
    BP_after_BED = 500
    BP_before_BED = 500
    lowColour = 'white'
    highColour = 'darkgreen'
    BAMFILEOFINTEREST = '/home/hayliej/groups/fslg_dnasc/nobackup/archive/r84100_20241220_011502/1_B01/hifi_reads/m84100_241220_032200_s2.hifi_reads.bc1047.bam'
    GENOMEFILEOFINTEREST = '/home/hayliej/groups/fslg_dnasc/nobackup/archive/Capstone_project/updated_GCF_000001735.4_TAIR10.1_genomic.fasta'
}

//process {
    //executor = 'slurm'   // Use SLURM for execution
    //queue = 'short'      // Specify the queue (partition) to use
    //cpus = 4             // Default CPU request per task
    //memory = '8GB'       // Default memory request per task
    //time = '02:00:00'    // Default time limit per job
//}

// ADD THIS TO SLURM JOB TO RUN:
// # Load modules if needed (adjust as necessary)
// module load nextflow

// # Run Nextflow pipeline
// nextflow run pipeline.nf -profile slurm -resume
